.about {
    background-color: #EBFAF4;
}

.line-about {
    margin-top: 130px;
    margin-right: 25px;
    margin-left: 15px;
}

.about__suptitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 121px;
    margin-bottom: 17px;
    width: auto;
}

.about__description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 29px;
    width: auto;
}

.about__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 29px;
    width: auto;
}

.about1 {
    background-image: url(/img/about/about1.png);
    background-repeat: no-repeat;
    width: 40vw;
    height: 521px;
    margin-top: 127px;
    margin-left: 57px
        /* margin-left: 60px; */
}

.about1__quote {
    position: absolute;
    margin: 400px -20px -20px 169px;
    width: 399px;
    height: 216px;
    background-color: #FFFFFF;
    padding: 24px 44px 82px 41px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}