@import url(idea.css);
@import url(footer.css);
@import url(navbar.css);
@import url(about.css);


.btn {
    display: inline-block;
    border: none;
    border-radius: 100px;
    font-family: 'Montserrat';
    background-color: #00D285;
    color: #FFFFFF;
}

.btn:focus {
    box-shadow: none;
}

.line {
    display: block;
    width: 44px;
    height: 2px;
    background-color: #00D285;
}